{{> navbar}}

<style>
    .timeslots {
        margin-bottom: 1em;
    }

    .timeslot {
        padding: 4px;
        margin: 0.3em;
        border: 1px solid darkgrey;
        border-radius: 8px;
    }
    .timeslot.active{
        border: 2px solid teal;
    }
    .ui-menu { width: 200px; }
    #actions-menu{
        width: 50px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col">

        </div>

        <div class="col-10">

            <form id="changeChannel" action="{{url}}" method="get">
                <div class="form-group row">
                    <label for="exampleFormControlSelect1" class="col-sm-2 col-form-label"> </label>
                    <div class="col-sm-6">
                        <input type="hidden" value="{{week}}" name="week">
                        <select class="entityChooser" id="entityChooser" name="entity">
                            {{#each entities}}
                                <optgroup label="{{ name }}">
                                    {{#each ../channels}}
                                        <option value="{{../id}}-{{ id }}" {{compareEntityChannel id ../../curChannel ../id ../../curEntity }} >{{ ../name }} -  {{ name }}</option>
                                    {{/each}}
                                </optgroup>
                            {{/each}}
                        </select>
                    </div>
                </div>

            </form>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-8 weekskipper">


                            <a href="{{ prevLink }}" title="vorige week"><i class="fa fa-arrow-left"
                                                                            aria-hidden="true"></i></a>
                            <b>
                                {{ curWeekTextString }}
                            </b>
                            <a href="{{ nextLink }}" title="volgende week"><i class="fa fa-arrow-right"
                                                                              aria-hidden="true"></i></a>
                        </div>

                        <div class="col-sm-3">
                            <form class="actions" id="actions" method="get" action="{{strippedUrl}}">
                            <div class='input-group date' id=''>
                                <input type="hidden" id="entity" name="entity" value="{{curEntity}}">
                                <input type="hidden" id="channel" name="channel" value="{{curChannel}}">

                                <input type="hidden" id="week" name="week" value="{{curWeekTimeString}}">
                                <input type='text' class="form-control datetimepicker1" size="8" value="{{curWeekTimeString}}"/>
                                <span class="input-group-addon">
                                        <a href="javascript:" class="opendatepicker" title="selecteer een datum"><i class="fa fa-calendar-o"
                                                                                             aria-hidden="true"></i></a>
                                     </span>


                                <ul id="actions-menu">
                                    <li>
                                        <a href="javascript://" title="actions"><i class="fa fa-cog" aria-hidden="true"></i></a>
                                        <ul>
                                            <li>
                                                <a href="javascript://">Kopieer naar toekomst</a>
                                            </li>
                                            <li>
                                                <a href="javascript://">Kopieer naar ander kanaal</a>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                                <!--<a href="javascript:" title="kopieren van dit schema naar de volgende weken tot"><i-->
                                        <!--class="fa fa-files-o" aria-hidden="true"></i></a>-->

                                <!--<a href="javascript:" title="spring naar week"><i class="fa fa-search"-->
                                                                                  <!--aria-hidden="true"></i></a>-->
                            </div>
                            </form>

                        </div>
                    </div>
                </div>

                <div class="form-group days" id="days">


                    <!-- PER DAG -->



                    {{#each weekdays}}

                        <div
                                class="day border border-secondary rounded {{vandaagClass}}"
                                style="padding:1em;"

                                data-dayofweek="0"
                                data-calendarday="2017-12-31"
                                data- organisatieId="1"
                                data-channelId="1"
                        >
                            <h5>{{title}} {{formattedDate}}</h5>
                            <div class="timeslots">
                                {{#each slots}}
                                    <span class="timeslot {{activeClass}}" data-id="{{id}}" data-active="{{active}}">{{formatTime start_time_object 'HH:mm'}}
                                        - {{formatTime end_time_object 'HH:mm'}}
                                        <a href="javascript://"
                                           data-delete-url="/ui/openinghours/{{id}}"
                                           class="delete-timeslot"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </span>
                                {{/each}}
                            </div>

                            <form class="addSlot" id="addSlot" data-create-url="/ui/openinghours">
                            <div class="input-group invoer-nieuwe">
                                <input type="hidden" name="entity_id" id="entity_id" value="{{../curEntity}}">
                                <input type="hidden" name="channel_id" id="channel_id" value="{{../curChannel}}">
                                <input type="hidden" name="day" value="{{formatTime date 'yyyy-MM-dd'}}">
                                <input type="text"   name="start_time"
                                       class="start_time form-control"
                                       aria-label="starting hour"
                                       placeholder="08:00"
                                       pattern="[0-9][0-9]:[0-9][0-9]"
                                    >
                                <input type="text"   name="end_time"
                                       class="end_time form-control"
                                       aria-label="end hour"
                                       placeholder="22:00"
                                       pattern="[0-9][0-9]:[0-9][0-9]"
                                >
                                <input type="submit" class="input-group-addon" value="+" />
                            </div>
                            </form>
                        </div>
                    {{/each}}


                </div>


        </div>
        <div class="col">

        </div>
    </div>
</div>
