{{> navbar}}

<div class="container">
    <div class="row">
        <h1>Momenteel geopend</h1>
        <br><br>
    {{#each entities}}
        <h4>{{ name }} ({{ remote_id }})</h4>
        <table class="table">
            <!--<thead>-->
            <!--<tr>-->
                <!--<th scope="col">kanaal</th>-->
                <!--<th scope="col">open</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <tbody>
            {{#each channels}}
                    <tr>
                        <td>{{ name }}</td>
                        <td>
                            {{  formatTime item.start_time_object 'HH:mm' }} - {{ formatTime item.end_time_object 'HH:mm'}}
                        </td>
                    </tr>
            {{/each}}

            </tbody>
        </table>

    {{/each}}
    </div>
</div>